._1443,
._1443 * {
  box-sizing: border-box;
}
._1443 {
  background: linear-gradient(
    180deg,
    rgba(53, 60, 117, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 864px;
  position: relative;
  overflow: hidden;
}
.rectangle-153 {
  background: #6371db;
  border-radius: 77px 0px 0px 77px;
  width: 713.88px;
  height: 866px;
  position: absolute;
  left: 797px;
  top: -2px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.odh {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 39px;
  font-weight: 600;
  position: absolute;
  left: 906px;
  top: 692px;
  width: 495px;
  height: 51px;
}
.group-71 {
  width: 149px;
  height: 34px;
  position: absolute;
  left: 866px;
  top: 38px;
  object-fit: cover;
  aspect-ratio: 149/34;
}
.group-155 {
  position: absolute;
  inset: 0;
}
.group-12 {
  width: 95.45px;
  height: 8.82px;
  position: static;
}
.ellipse-13 {
  background: #ffffff;
  border-radius: 50%;
  width: 8.82px;
  height: 8.82px;
  position: absolute;
  left: 1108px;
  top: 768px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.ellipse-14 {
  background: #ffffff;
  border-radius: 50%;
  width: 8.82px;
  height: 8.82px;
  position: absolute;
  left: 1137.68px;
  top: 768px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.ellipse-15 {
  background: #6371db;
  border-radius: 50%;
  width: 8.82px;
  height: 8.82px;
  position: absolute;
  left: 1164.95px;
  top: 768px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.ellipse-16 {
  background: #ffffff;
  border-radius: 50%;
  width: 8.82px;
  height: 8.82px;
  position: absolute;
  left: 1194.63px;
  top: 768px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.ellipse-17 {
  background: #313764;
  border-radius: 50%;
  width: 8.82px;
  height: 8.82px;
  position: absolute;
  left: 1166.2px;
  top: 768px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.dark-circle-1 {
  width: 822px;
  height: 586px;
  position: absolute;
  left: 743px;
  top: 84px;
  object-fit: cover;
  aspect-ratio: 822/586;
}
.div {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 54px;
  font-weight: 600;
  position: absolute;
  left: 350px;
  top: 121px;
  margin-top: 30px;
  width: 141px;
  height: 72px;
}
.google {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 325px;
  top: 202px;
  margin-top: 30px;
  width: 409px;
  height: 29px;
}
.frame-94 {
  width: 461.57px;
  height: 63.82px;
  position: absolute;
  left: 177px;
  top: 239px;
}
.group-160 {
  position: absolute;
  inset: 0;
}
.rectangle-157 {
  border-radius: 25px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 3px;
  width: 461.57px;
  height: 63.82px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.div2 {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 160px;
  top: 18.02px;
  width: 161.77px;
  height: 28.2px;
}
.or {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 394px;
  top: 322px;
  width: 28.2px;
  height: 28.94px;
}
.rectangle-154 {
  background: rgba(99, 113, 219, 0.3);
  border-radius: 25px;
  width: 476.41px;
  height: 64.56px;
  position: absolute;
  left: 170px;
  top: 384px;
}
.rectangle-155 {

  background: rgba(99, 113, 219, 0.3);
  border-radius: 25px;
  width: 476.41px;
  height: 64.56px;
  position: absolute;
  left: 170px;
  top: 471px;
}
.frame-96 {
  width: 199.65px;
  height: 32px;
  position: absolute;
  left: 190px;
  top: 572px;
}
.group-162 {
  position: absolute;
  inset: 0;
}
.frame-91 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.auto-login-1 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}
.div3 {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 40.85px;
  top: 5.94px;
  width: 158.8px;
  height: 19.29px;
}
.frame-92 {
  width: 158.8px;
  height: 19.29px;
  position: absolute;
  left: 190px;
  top: 699px;
}
.div4 {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 158.8px;
  height: 19.29px;
}
.div5 {
  position: relative;
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  left: 216px;
  top: 400px;
  width: 120px;
  height: 24px;
}
.form-control{
    position: absolute;
    width: 400.41px;
    height: 30.56px;
    font-size: 20px;
    border: none;
    outline: none;
    left: -2px;
    top: -5px;
    color: #ffffff; /* 원하는 컬러 */

}
.form-control:focus::placeholder {
  color: transparent;
}
.form-control::placeholder {
  color: #ffffff; /* 원하는 컬러 */
}
.form-control-pw{
  position: absolute;
  width: 400.41px;
  height: 30.56px;
  font-size: 20px;
  border: none;
  outline: none;
  left: -2px;
  top: -1px;
  color: #ffffff;
}
.form-control-pw:focus::placeholder {
  color: transparent;
}
.form-control-pw::placeholder {
  color: #ffffff; /* 원하는 컬러 */
}
.div6 {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 216px;
  top: 491.21px;
  width: 120px;
  height: 24px;
}
.frame-93 {
  width: 98px;
  height: 19px;
  position: absolute;
  left: 548px;
  top: 578px;
}
.div7 {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 98px;
  height: 19px;
}
.frame-95 {
  width: 476.41px;
  height: 63.82px;
  position: absolute;
  left: 177px;
  top: 619px;
}
.group-161 {
  position: absolute;
  inset: 0;
}
.rectangle-156 {
  background: #6371db;
  border-radius: 25px;
  width: 476.41px;
  height: 63.82px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.div8 {
  color: #ffffff;
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 192px;
  top: 20.05px;
  width: 91px;
  height: 24px;
}
