<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
  <style>
   a,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;

       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   button {
     cursor: pointer;
   }

  </style>
  <title>Document</title>
</head>
<body>
  <div class="_1441">
    <svg
      class="group-72"
      width="109"
      height="864"
      viewBox="0 0 109 864"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0 644H108V864H50C22.3858 864 0 841.614 0 814V644Z"
        fill="#363D78"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M25 0C11.1929 0 0 11.1929 0 25V398.735C1.50183 408.122 14.7179 427.12 55.5676 428.021C67.7074 428.271 92.2873 435.83 93.4888 464.065C94.6902 492.299 76.9687 505.74 63.4522 506.491C46.056 505.74 9.01097 510.546 0 535.777V785.236C0 799.043 11.1929 810.236 25 810.236H108.132V0H25Z"
        fill="url(#paint0_linear_78_5299)"
      />
      <defs>
        <linearGradient
          id="paint0_linear_78_5299"
          x1="108.132"
          y1="-1.48051e-06"
          x2="1.82616e-06"
          y2="794.842"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#6371DB" />
          <stop offset="1" stop-color="#353C75" />
        </linearGradient>
      </defs>
    </svg>
    <div class="frame-79">
      <div class="frame-77">
        <div class="frame-76">
          <div class="new">NEW</div>
          <hr class="line-1" />
          <div class="chatbot">Chatbot</div>
        </div>
        <svg
          class="vector-32"
          width="87"
          height="3"
          viewBox="0 0 87 3"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 1.61383H85.1023"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="frame-78">
        <div class="chatbot2">Chatbot</div>
        <div class="odh">Odh</div>
      </div>
    </div>
    <button class="frame-80" id="tryNowBtn" th:onclick="|location.href='@{/chat-room}'|"
      type = "button">
      <div class="try-now">Try now</div>
    </button>

    <div class="group-12">
      <div class="ellipse-13"></div>
      <div class="ellipse-14"></div>
      <div class="ellipse-15"></div>
      <div class="ellipse-16"></div>
    </div>
    <div class="frame-71">
      <button class="frame-83" data-name="value">
        <div class="log-in">LOG IN</div>
      </button>
      <button class="frame-83" data-name="value">
        <div class="sign-up">SIGN UP</div>
      </button>
    </div>
    <img class="_5" src="../static/png/_50.png" th:src="@{/png/_50.png}"/>
    <img class="group-71" src="../static/png/group-710.png" th:src="@{/png/group-710.png}"/>
    <button class="frame-83" data-name="value">
      <img class="div" src="../static/png/div0.png" th:src="@{/png/div0.png}"/>
    </button>
    <button class="frame-84">
      <img class="div2" src="../static/png/div1.png" th:src="@{/png/div1.png}"/>
    </button>
    <button class="frame-85">
      <img class="div3" src="../static/png/div2.png" th:src="@{/png/div2.png}"/>
    </button>
    <button class="frame-86">
      <img class="div4" src="../static/png/div3.png" th:src="@{/png/div3.png}"/>
    </button>
    <button class="frame-87">
      <img class="div5" src="../static/png/div4.png" th:src="@{/png/div4.png}"/>
    </button>
  </div>
  
</body>
</html>