<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="_1443">
    <div class="rectangle-153"></div>
    <div class="odh">ODH에 다시 오신걸 환영합니다</div>
    <img class="group-71" src="../static/png/group-710.png" th:src="@{/png/group-710.png}"/>
    <div class="group-12">
      <div class="ellipse-13"></div>
      <div class="ellipse-14"></div>
      <div class="ellipse-15"></div>
      <div class="ellipse-16"></div>
      <div class="ellipse-17"></div>
    </div>
    <img class="dark-circle-1" src="../static/png/dark-circle-10.png" th:src="@{/png/dark-circle-10.png}"/>
      <div class="div">로그인</div>
      <div class="google"> 세부 정보를 입력하세요.</div>

    <div class="rectangle-154"></div>
    <div class="rectangle-155"></div>
    <button class="frame-92">
      <div class="div4">계정 만들기</div>
    </button>
    <form action="login" th:action th:object="${loginForm}" method="post">
      <div class="div5">
        <label for="email">
          <input type="text" id="email" th:field="*{email}" class="form-control" placeholder="이메일">
        </label>
      </div>
    <div class="div6">
      <label for="password">
        <input type="password" id="password" th:field="*{password}" class="form-control-pw" placeholder="비밀번호">
      </label>
    </div>
    <button class="frame-95" type="submit">
      <div class="rectangle-156"></div>
      <div class="div8">로그인하기</div>
    </button>
    </form>
  </div>
  
</body>
</html>